.project-header {
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: x-large;
    color: aliceblue;
    background-color: gray;
}

.project-main-text {
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: large;
    color:aliceblue;
}

.sidebar-names {
    color: white;
}