.project-header {
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: x-large;
    color: white;
}

.project-main-text {
    text-align: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: large;
    color:white;
}